.viewport {
  display: flex;
}
.xz {
  display: flex;
}

.wrap {
  position: relative;
  width: 300vw;
  overflow: hidden;
  
}
.wrap img {
  display: inline-block;
  width: 100vw;
  height: auto;
  float: left;
}

.arrow label {
  display: none;/*Не показывай*/
  width: 2rem;
  height: 2rem;
  border-top: 1rem solid #000;
  border-right: 1rem solid #000;
  transform: rotate(-135deg);
}

#pic1:checked ~ .arrow label:nth-of-type(3),
#pic2:checked ~ .arrow label:nth-of-type(1),
#pic3:checked ~ .arrow label:nth-of-type(2) {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 5rem;
}
