.footer {
  position: flex;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}
.footer-content {
  padding-top: 15px;
  text-decoration: none;
  color: white;
}
