.user {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 31px;
  right: 10px;
  transform: translateX(-176px);
  transition: all 0.2s;
  z-index: 50;


}
.menu-user.active{
  transform: translateX(100%)
}
.menu_content{
  font-size: 18px;
  width: 15vw;
  height: 46vh;
  background-color: #64B5F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 0px 25px;
  transition: all 0.4s;
  border: 2px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header {
width: 100%;
height: 40px;
text-align: center;
padding: 10px 0px 10px 0px;
font-size: 1.5em;
color: black;
margin-top: 13px;
border-bottom: 2px solid black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul li a {
  color: black;
  text-decoration: none;

}

ul {
  text-align: center;
  position: relative;

}

.icon {

  width: 30px;
  height: 30px;
  padding: 5px 0px 0px 10px;
}

