.create {
  position: relative;
  width: 100vw;
  height: 100vh;
  top: 57px;
  right: 5px;
  transform: translateY(0px);
  transition: all 0.2s;
  z-index: 50;


}
.menu-create.active{
  transform: translateY(-1000%)
}
.create-menu_content{
  font-size: 12px;
  width: 10vw;
  height: 10vh;
  background-color: #64B5F6;
  display: flex;
  flex-direction: row-wrap;
  border-radius:25px;
  transition: all 0.4s;
  border: 2px solid black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.icon {

  width: 30px;
  height: 30px;
  padding: 5px 0px 0px 10px;
}

.content-link {
  padding-left: 15px;
  text-decoration: none;
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
