.navbar {
  position: fixed;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: rgb(20, 20, 20);
  z-index: 40;

}
.links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.link {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  margin: 10px ;
  text-decoration: none;
  color: white;
}
.burger-btn {
  width: 30px;
  height: 30px;
  position: relative;
  left: 20px;

}
.burger-btn:before {
  content: '';
  position: absolute;
  top: 0;
  width: 30px;
  background-color: white;
  height: 3px;
}
.burger-btn span {
  content: '';
  position: absolute;
  top: 13px;
  width: 30px;
  background-color: white;
  height: 3px;
}
.burger-btn:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 30px;
  background-color: white;
  height: 3px;
}
.reg {
  position: relative;
  padding: 10px;
  font-size: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.linki {
  padding-top: 12px;
}
.userMenu {
  width: 30px;
  height: 30px;
  position: relative;
  top: -10px;
}
.userMenu:before {
  content: '';
  position: absolute;
  right: 10px;
  top: -4px;
  width: 30px;
  background-color: white;

}
.userMenu img {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: white;
}
.userMenu:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 24px;
  width: 30px;
  background-color: white;

}


.createMenu {
  width: 30px;
  height: 30px;
  position: relative;
  top: -15px;
}
.createMenu:before {
  content: '';
  position: absolute;
  right: 10px;
  top: -4px;
  width: 30px;
  background-color: white;

}
.createMenu span {
  position: absolute;
  right: -80px;
  top: 15px;
  border-radius: 25px;
  padding: 5px;
  color: white;

}
.createMenu:after {
  content: '';
  position: absolute;
  right: 10px;
  top: 24px;
  width: 30px;
  background-color: white;

}
.created {
  display: flex;
  justify-content: space-between;
  width: 280px;
}
.notif {
  position: relative;
  top: 5px;
  left: 90px;
}

